.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imput {
  width: 20rem;
}
button {
  margin-top: 1rem;
  background-color: #2d4f81;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body
{
  overflow: hidden;
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom,#181818,#2c2c2c);
    /* background-image: url(Geometric_Polygonal_Shape_Background.jpg); */
    background-size: cover;
    filter: grayscale(75%);
}
section .color
{
    position: absolute;
    filter: blur(100px);
}
section .color:nth-child(1)
{
    top: -150px;
    width: 500px;
    height: 400px;
    background: #ffffff18;
    
}
section .color:nth-child(2)
{
    bottom: -150px;
    right: 100px;
    width: 300px;
    height: 300px;
    background: #2c2c2c;
}
section .color:nth-child(3)
{
    bottom: 50px;
    left: 100px;
    width: 200px;
    height: 200px;
    background: #1f2020;
}
 .box
 {
     position: relative;
 }
 .container
 {
     position: relative;
     width: 450px;
     min-height: 550px;
     background: rgba(0, 0, 0, 0.2);
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     backdrop-filter: blur(5px);
     box-shadow: 0 25px 45px rgba(0,0,0,0.1);
     border: 1px solid rgba(255,255,255,0.5);
     border-right: 1px solid rgba(255,255,255,0.2);
     border-bottom: 1px solid rgba(255,255,255,0.2);
 }
 .form
 {
     position: relative;
     width: 100%;
     height: 100%;
     padding: 40px;
 }
 .form h2
 {
     position: relative;
     color: #ffff;
     font-size: 24px;
     font-weight: 600;
     letter-spacing: 1px;
     margin-bottom: 3rem;
 }
 .form h2::before
 {
     content: '';
     position: absolute;
     left: 0;
     bottom: -10px;
     width: 80px;
     height: 4px;
     background: #fff;
 }
 .form .inputBox
 {
    width: 100%;
    margin-top: 30px;
 }
 .form .inputBox input
 {
     width: 100%;
     background: rgba(255,255,255,0.2);
     border: none;
     outline: none;
     padding: 10px 20px;
     border-radius: 35px;
     border: 1px solid rgba(255,255,255,0.5);
     border-right: 1px solid rgba(255,255,255,0.2);
     border-bottom: 1px solid rgba(255,255,255,0.2);
     font-size: 16px;
     letter-spacing: 1px;
     color: #fff;
     box-shadow: 0 5px 15px rgba(0,0,0,0.05);
 }
 .form .inputBox input::placeholder
 {
     color: #fff;
 }
 .form .inputBox input[type="submit"]
 {
     background: #fff;
     color: #666;
     max-width: 200px;
     cursor: pointer;
     margin-bottom: 20px;
     font-weight: 600;
 }
 .forget
 {
     margin-top: 20px;
     color: #fff;
 }
 .forget a
 {
     color: #fff;
     font-weight: 600;
 }